.main{
   width: 100%;
   height: 100%;
}
.cardsContainer{
   width: 100%;height: 100%;
   padding: 20px 0;
}
.cardsContainer > div{
   margin-top: 30px;margin-bottom: 10px;
}
.cardsContainer > .card{width: 80%;height: 230px;}

.createButton > div{
   width: 40%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   padding: 20px 0;
}